<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="../assets/images/new_picto_logo.png" alt="Nikiikejks">Nikiikejks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Domov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">O mne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Kontakt</a>
        </li>
      </ul>
      <a class="social-media" href="https://www.instagram.com/nikiikejks/" target="_blank"><img src="/../assets/images/instagram_logo.png" alt="Instagram"></a>
      <a class="social-media" href="https://www.facebook.com/Nikiikejks-111643454446571" target="_blank"><img src="/../assets/images/fb_logo.png" alt="Instagram"></a>
    </div>
  </div>
</nav>
