.navbar-light .navbar-nav .nav-link
{
  color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link.active-link
{
  color: #64cff7;
}
.navbar
{
  background-color: #f7dfde;
}
nav
{
  text-align: center;
}
