<div class="container-fluid footer">
  <div class="row">
    <!-- name -->
    <div class="col-lg-6">
      <h1>Nikiikejks</h1>
      <p>Skvelé koláče, vychutnaj si to!</p>
    </div>
    <!-- nav -->
    <div class="col-lg-4">
      <a routerLink="">Domov</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">O nás</a>
      <a routerLink="contact">Kontakt</a>
    </div>
    <!-- social media -->
    <div class="col-lg-2">
      <a href="https://www.facebook.com/Nikiikejks-111643454446571" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/nikiikejks/" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>

  </div>
</div>
