.footer
{
  overflow: hidden;
  position: sticky;
  top: 100vh;
  background: rgb(46,46,46);
  background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
  padding: 20px 10px;
}
h1
{
  font-weight: bold;
  color: white;
  font-size: 20px;
}
p
{
  font-size: 18px;
}
a
{
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 20px;
}
a:hover
{
  color: #64cff7;
}
i {
  font-size: 30px;
}
p
{
  color: white;
}

