<div class="container">
  <form>
    <div class="row">
      <div class="col-lg-6">
        <input type="text" placeholder="Meno">
      </div>
      <div class="col-lg-12">
        <input type="text" placeholder="Priezvisko">
      </div>
      <div class="col-lg-12">
        <input type="text" placeholder="Email">
      </div>
      <div class="col-lg-12">
        <input type="text" placeholder="Telefón">
      </div>
      <div class="col-lg-12">
        <button class="btn btn-md mt-2" style="background-color: #64cff7; color: white">Poslať</button>
      </div>
    </div>
  </form>
</div>
