<div class="container mt-5 mb-5">
  <h1>Kontaktný formulár</h1>
  <form class="col-lg-8">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Meno">
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Priezvisko">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Telefón">
      </div>
      <div class="col-lg-12">
        <button class="btn btn-md mt-2" style="background-color: #64cff7; color: white">Poslať</button>
      </div>
    </div>
  </form>
</div>
