button
{
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  font-size: 18px;
}
button:hover
{
  background: #64cff7;
  border: 2px solid #64cff7;
  cursor: pointer;
}
h1 {
  text-align: center;
}
#test {
  margin: 0 auto;
  max-width: 500px;
}
