.cakebox
{
  padding: 10px 10px;
}
.cakebox img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.cakebox h1
{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
.viewmorebtn
{
  text-decoration: none;
  background-color: #64cff7;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
}
.buybtn
{
  color: #fff;
  background-color: #64cff7;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.menu-title {
  text-align: center;
}
