<div class = "about-wrapper">
  <div class = "about-left">
    <div class = "about-left-content">
      <div>
        <div class = "shadow">
          <div class = "about-img">
            <img src = "/../assets/images/Nikiikejks.png" alt = "Nikoleta">
          </div>
        </div>

        <h2>Nikoleta<br>Gregáňová</h2>
        <h3>Zakladateľka nikiikejks</h3>
      </div>

      <ul class = "icons">
        <li><i class = "bi bi-facebook"></i></li>
        <li><i class = "bi bi-instagram"></i></li>
        <li><i class = "bi bi-whatsapp"></i></li>
      </ul>
    </div>
  </div>

  <div class = "about-right">
    <h1>Ahoj<span>!</span></h1>
    <h2>Kto som a čo robím</h2>

    <div class = "about-para">
      <p>Som Nikoleta Gregáňová a k pečeniu som mala vzťah už od mala. Môj vzťah k pečeniu sa začal naplno prejavovať počas začiatku pandémie COVID-19, kedy som mala dostatok času venovať sa tejto činnosti. Na začiatku to vyzeralo iba na hobby, ale po čase sa mi toto remeslo dostalo pod kožu a chcem dokázať viac. Začala som sa naplno venovať skúmaniu receptov a skúšať nové kombinácie chutí, aby som sa zdokonaľovala v tomto obore. Medzi produkty, ktoré ponúkam patria výnimočné tartaletky, cupcaky, pavlovky, laskonky, brownies, cheesecaky či torty rôznych príchutí. Produkty sú vhodné na narodeninovú oslavu, svadbu, krstiny či iné príležitosti vrámci ktorých ponúkam aj tvorbu smaotného sladkého candy baru. Svoje výrobky sa snažim vyrábať s láskou a vašňou pre každého z vás. Pečiem výhradne z čerstvých surovín, používam kvalitnú belgickú čokoládu Callebaut a ovocie podľa sezóny.
      <br>
      Každý správny cukrár by mal mať aj vzdelanie v tomto obore a preto som obsolvovala akreditovaný kurz Ministerstvom školstva,vedy,výskumu a športu SR - Gastro Academy. Ďalším odborným vzdelaním bol zahraničný kurz v cukrárskej škole - Pavline School. Zúčastnila som sa aj kurzu u Petry Tóthovej v Art Cakes a získala certifikát Anatómia torty.
      <br>
      Mojim cieľom je ďalej sa vzdelávať a napredovať v cukrárskej profesii a ponúkať tak zákazníkom zaručenú kvalitu.
      </p>
    </div>
  </div>
</div>
