<div class="container mt-5 mb-5">

  <h1 class="text-center">O mne</h1>

  <img src="/../assets/images/Nikiikejks.png" alt="Nikoleta">
  <h1 class="text-center mb-5">Nikoleta Gregáňová</h1>

  <p class="text-center">
      Vitajte na stránke Nikkikejs!
      Na tejto stránke môžete nájsť množstvo skvelých výrobkov ako sú torty, tartaletky, pavlovky, cupcaky, brownies rôznych veľkostí a príchutí, ktoré si zamilujete!
      Moje meno je Nikoleta Gregáňová a venujem sa pečeniu výrobkov uvedených vyššie.
      Pečenie ma baví od malička a je to moja celoživotná záľuba, rada vymýšlam nové recepty a kombinujem príchute tak, aby som vytvorila niečo nové čo ešte ľudia nepoznajú.
      V ponuke si môžete vybrať produkty, ktoré by ste si želali na oslavu narodením, svadby, krstín a iných udalostí.
    <br/>
      Pečeniu som sa intenzívne začala venovať počas pandémie COVID19, kedy som maa dostatok času piecť hľadať si recepty a skúšať rôzne variácie chutí.
      Musela som zainvestovať do vybavenia na pečenie ale oplatilo sa to!
      Táto činnosť ma zaujala na toľko, že už je to súčasť môjho života aj po pandémií COVID-19.
    <br/>
      Ak by ste potrebovali poradiť ohľadom receptov a vyhotovenia produktov určite sa mi ozvite.
      Svoje zručnosti naďalej zveľadujem a vzdelávam sa, aby som mohla ľuďom ponúknuť nové a nové recepty.
  </p>

</div>
