/* form
{
  margin-top: 10%;
  width: 50%;
}
button{
  background-color: #64cff7;
  color: #fff;
}
button:hover
{
  background-color: var(--primary-color);
  color: #fff;
}
a
{
  background-color: #64cff7;
  color: #fff;
}
a:hover
{
  background-color: var(--primary-color);
  color: #fff;
}
img
{
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width:600px) {
  form
{
    width: 100%;
}
} */

.product-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-product {
  width: 70%;
  display: flex;
  background: #fff;
}
.p-gallery {
  flex-basis: 47%;
  transform: scale(1.08);
  box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
}
.p-gallery img {
  width: 100%;
  display: block;
  height: 100%;
}
.p-details {
  flex-basis: 53%;
  background: #fff;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
  font-weight: 500;
  color: #333;
}
.p-details h1 {
  color: #333;
  font-size: 35px;
  font-weight: 700!important;
}
.p-details h2 {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.p-details h3 {
  color: #64cff7;
  font-size: 30px;
  font-weight: 600;
}
.p-details a {
  text-decoration: none;
  background: #64cff7;
  color:#fff;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  font-size: 17px;
  margin-top: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  cursor: pointer;
  border: 0;
  outline: 0;
}
