/* .container {
  justify-content: baseline;
}
button{
  background-color: #64cff7;
  color: #fff;
}
button:hover
{
  background-color: var(--primary-color);
  color: #fff;
}
a
{
  background-color: #64cff7;
  color: #fff;
}
a:hover
{
  background-color: var(--primary-color);
  color: #fff;
}
img
{
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  height: 500px;
  object-fit: cover;
} */

.col-md-7 h2 {
  color: #555;
  padding-top: 50px;
  font-weight: bold;
}
.cena {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.responsive {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
a
{
  background-color: #64cff7;
  color: #fff;
  border-color: #64cff7;
  border-radius: 30px;
}
a:hover
{
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}
.col-md-7 h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Mobile version */
@media screen and (max-width: 599px) {
  .col-md-7 h2 {
    padding-top: 5px;
  }
  .cena{
    padding-bottom: 15px;
  }
}
