<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-5"*ngIf="menuData">
      <a routerLink="../../menu" class="btn btn-md mt-3 mb-3">Späť</a>
      <img src="{{menuData[0].cakeImg}}" alt="" class="responsive">
    </div>
    <div class="col-md-7">
      <h2 class="mt-3">{{menuData[0].cakeName}}</h2>
      <div class="cena">Cena {{menuData[0].cakePrice | currency: 'EUR'}}</div>
      <p>{{menuData[0].cakeDetails}}</p>
      <h3 class="popis">Popis:</h3>
      <p>{{menuData[0].cakeTaste1}}</p>
      <p>{{menuData[0].cakeDescription}}</p>
      <a routerLink="/contact" class="btn btn-primary" role="button">Objednaj!</a>
    </div>
  </div>
</div>
