.col-md-7 h2 {
  color: #555;
  padding-top: 50px;
  font-weight: bold;
}
.cena {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.responsive {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
a
{
  background-color: #64cff7;
  color: #fff;
  border-color: #64cff7;
  border-radius: 30px;
}
.col-md-7 h3 {
  font-size: 18px;
  font-weight: bold;
}
.btn-primary {
  font-weight: 700;
  background-color: #ffea28;
  color: black;
  border-color:#ffea28;
  width: 150px;
}
.zobrazit-prichute select{
  font-weight: 700;
  border-radius: 30px;
  padding-left: 1rem;
}

/* Mobile version */
@media screen and (max-width: 599px) {
  .col-md-7 h2 {
    padding-top: 5px;
  }
  .cena{
    padding-bottom: 15px;
  }
  .btn-primary {
    width: 350px;
  }
  .zobrazit-prichute select{
    width: -webkit-fill-available;
    border-radius: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
